body {
  font-family:serif;
  margin: 0;
  background: #eee;
  height: auto;
}	

h1 {
  font-weight: 400;
  font-size: 35px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 35px;
  text-transform: capitalize;
  margin: 0;
  
}





img {
  display: block;
  width: 100%;
}

main {
  max-width: 900px;
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3),
    -30px 0px 40px rgba(0, 0, 0, 0.3);
}

#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 50vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 16px;
  padding-left: 16px;
}

#landing-text h1 {
  color: #000;
  font-family: ar destine;
}


#landing-image {
  background: url(ferh.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 50vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  padding: 8px 32px;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 32px 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
  font-family: serif;
  
}

.btn:hover {
  background: #f4f4f4;
  color: #fe4444;
  font-family: forte;
  font-style: bold; 
}


.btn1 {
  padding: 8px 32px;
  border: 1px #888 solid;
  border-radius: 50px;
  text-decoration: none;
  color: #000;
  font-family: serif;
  
}

.btn1:hover {
  background: #888;
  color: #fff;
  font-family: algerian;
  font-style: bold; 
  font-size: 17px;
  border-color: #f32b2b;
  border:5px;
}




#header {
  padding: 1.5rem;
  text-align: center;
  background: #333;
  color: #fff;
}

#header h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-right: 1rem;
  padding-left: 1rem;
}

#caption1 {
  padding: 0.8rem;
  text-align: center;

}



#caption2 {
  padding: 0.8rem;
  text-align: center;
    background-color:#333;
    color: #fff;
   
}

footer {
  text-align: center;
  padding: 2rem 1rem;
  margin: auto;
  color: #333;
  background-color:#dadadd;
}

footer h3 {
  font-size: 3rem;
  margin-bottom: 0;

}

#brand{
  font-family: ar destine;

}



.flex{
  display:flex;
  
}

.a-img{
  height: 40%;
  width: 40%;
  padding: 10px;
}



.flex img{
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.05),
    -30px 0px 40px rgba(0, 0, 0, 0.05);


}

.flex img:hover{
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.3),
    -30px 0px 40px rgba(0, 0, 0, 0.3);


}
.lambo{
  padding: 0.8rem;
  text-align: center;

}

.lambo h2{
  font-family: forte;

}
.bmw h2{
  font-family: stencil;
  padding: 0.8rem;
  text-align: center;
}


/* Screen Sizes 500px and Up */
@media (min-width: 500px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

